html { height: 100%; }
body { height: 100%; margin: 0; padding: 0 }

#map_canvas { height: 100% }

#sidebar
  {
  position: absolute; 
  top: 0; 
  right: -18em; 
  height: 100%; 
  width: 18em; 
  background-color: #fff; 
  border-left: 1px solid #ccc;
  font: 1em/1.1em Helvetica,sans-serif;

  -moz-box-shadow: #aaa -2px 0 8px;
  -webkit-box-shadow: #aaa -2px 0 8px;
  box-shadow: #aaa -2px 0 8px;

  -webkit-transition: right 0.2s ease-in 0;  
  -moz-transition: right 0.2s ease-in 0;  
  -o-transition: right 0.2s ease-in 0;  
  transition: right 0.2s ease-in 0;  
  }
  
#sidebar div.close-sidebar
  { 
  padding: 0.4em 0.25em;
  background-color: #ddd;
  }
  
#sidebar div.close-sidebar a { text-decoration: none; color: #666; }
#sidebar div.close-sidebar a:hover { text-decoration: underline; }

#sidebar h2
  {
  padding: 0 1em;
  font: 1.4em/1.6em Helvetica;
  color: #333;
  }
  
#sidebar .markers ul
  {
  margin-left: 0;
  padding-left: 0.5em;
  }
#sidebar .markers li
  {
  list-style-type: none;
  padding: 0.25em;
  }
  
#about
  {
  background-color: green;
  padding: 0.25em 1em;

  font: 1.2em/1.2em Helvetica;
  color: #fff;
  }
